{% extends 'hod_templates/hod_base.html' %}

{% block content %}



{% include 'hod_templates/hod_top_bar.html' %}

<div class="card">
  <h5 class="card-header">Add Course</h5>
  <div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label>Subject Name</label>
            {{form.subject_name}}
        </div>
        <br>
           <div class="form-group">
            <label>Course Name</label>
            {{form.course}}
        </div>
        <br>

        <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Course Details</h5>
  <div class="card-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course Name</th>
      <th scope="col">Course Created</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">#</th>
      <td>a</td>
      <td>b</td>
      <td>
          <button type="button" class="btn btn-success"><a href="#" style="color: white"><i class="fa-solid fa-pen-to-square"></i></a></button>
          <button type="button" class="btn btn-danger"><a href="#" style="color: white"><i class="fa-solid fa-trash"></i></a></button>
      </td>
    </tr>

  </tbody>
    </table>
  </div>
</div>

{% endblock %}